.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-color: #F5F5F5;
}

.logoContainer {
    margin-bottom: 20px;
}

.roundedImage {
    border-radius: 50%;
}

.card {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputContainer {
    width: 100%;
    margin-bottom: 10px;
    color: #000;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
}

.available {
    color: green;
    font-size: 12px;
}

.unavailable {
    color: red;
    font-size: 12px;
}

.error {
    color: red;
    font-size: 12px;
}

.button {
    background-color: #000;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.helpLink {
    color: #1E90FF;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
